@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
}

#categories header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

}



#categories main{
    display: flex;
    flex-wrap: wrap;
}

#categories .categorieCard{
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    height: 200px;
    width: 350px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    transition: height 0.3s ease-in, width 0.3s ease-in;
}

.link{
    all: unset;
}

.alert{
    font-size: 30px;
}

#categories .categorieCard:hover{
    height: 210px;
    width: 360px;
}


#categories .categorieCard h1{
    font-size: 30px;

}


.navbarContainer{
    width: 100%;
    height: 60px;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.navbarContainer a {
    color: black;
}


.registrationAndLoginContainer{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 20px;
    height: auto;
    padding: 10px;
}

.registrationAndLoginContainer form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registrationAndLoginContainer form input{
    margin: 5px;
}

.bodyRegistrationAndLogin{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column

}



.validForm{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    background-color: forestgreen;
    opacity: 60%;
    height: 50px;
    width: 100%;
    font-size: 23px;
    color: white;
}

#bodyForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form{
    padding: 20px;
    height: auto;
    width: 40%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form input{
    width: 250px;
}

#books main{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
#books header{
    padding: 10px;
}

.bookCard{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid black;
    width: 400px;
    height: 350px;
    border-radius: 5px;
    margin:0 15px 15px 0;
}

strong p{
    text-decoration: underline;
}

.bookCard .link{
    margin: 10px;
}

.infoBook{
    border-bottom: 2px solid black;
    padding: 5px 5px 3px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.infoBook2{
    padding: 8px;
}

.bookCard h1{
    font-size: 20px;

}

.listOfUsersBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.listOfUsersBody h1{
    font-size: 30px;
}
.listOfUsersBody h2{
    font-size: 28px;
}
.listOfUsersBody .userCard{
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.listOfUsersContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.listOfUsersBody .userCard a{
   padding: 5px ;
}
.listOfUsersBody .userCard p{
   padding-right: 5px;
    margin: 0px;
}